html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

/* GLOBAL STYLES */
html, body {
    font-size: 62.5%;
    font-family: 'cabin', sans-serif;
    color: #232323;
}
h1, h2, h3, h4, p {
    margin: 0;
}
h1 {
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 4.2rem;
    font-weight: 700;
}
h3{
    font-size: 3.2rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
h4 {
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 1.6;
}
p {
    font-size: 1.8rem;
    line-height: 1.6;
}
span {
    display: block;
}
a {
    text-decoration: none;
    font-weight: 700;
    color: #232323;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1.8rem;
}
.aboutTasty a, .aboutCook a {
    width: 215px;
    height: 50px;
    background: #fdc800;
    margin: 0 auto;
    padding: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
.mobileImage {
    display: none;
}
/* HOVER STATES */
.social i:hover {
    color: #232323;
    transition: 400ms ease-in-out;
}
nav li a:hover {
    background-color:#fdc800;
    font-weight: 800;
    box-shadow: 5px 5px #a9a9a9;
    transition: 300ms ease-in-out;
}
.tastyLinks i:hover {
    color: #fdc800;
    transition: 400ms ease-in;
}
.aboutTasty a:hover,
.blog a:hover,
.bio a:hover {
    background: #232323;
    color: #fdc800;
    transition: 400ms ease-in-out;
}
input#submit:hover {
    background: #fdc800;
    color: #f8f8f8;
    transition: 400ms ease-in-out;
}
/* HEADER STYLES */
header {
    background-image: url(../assets/image-1@2x.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    position: relative;
}
.tastyLogo {
    float: left;
    padding-top: 2%;
}
.tastyLogo h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
}
.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
h1 span {
    font-family: 'Great Vibes', cursive;
    font-size: 13rem;
    text-transform: capitalize;
}
.social {
    color: #fdc800;
    font-size: 2rem;
    line-height: 2;
    position: absolute;
    left: 95%;
    top: 40%;
}
/* NAVIGATION STYLES */
nav ul {
    float: right;
    padding-top: 2%;
}
nav li {
    float: left;
    margin-left: 40px;
}
nav a {
    padding: 15px 10px;
    transition: 300ms ease-in;
    border-radius: 10px;
    font-size: 2rem;
}
 .hamburgerMenu, #toggle {
    display: none;
}
/* ABOUT TASTY STYLES */
section.aboutTasty {
    text-align: center;
    background: #eaedf4;
    padding: 75px 0;
}
section.aboutTasty h2 {
    font-family: 'Great Vibes', cursive;
    margin: 0;
    text-transform: capitalize;
}
section.aboutTasty p {
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}
/* TASTY LINKS */
.tastyLinks {
    background: #232323;
    padding: 100px 0;
    color: #f8f8f8;
    text-align: center;
}
.tastyLinks h4 {
    font-size: 2.4rem;
    font-weight: 700;
}
.tastyLinks i.fas {
    font-size: 4rem;
    max-width:150px;
    max-height: 36px;
    margin-bottom: 35px;
}
 .recipes, .cookingTips, .contactIcon {
    width: 33.33%;
    float: left;
}
/* GALLERY */
.gallery {
    padding: 100px 0;
    background: #f8f8f8;
}
.galleryItem {
    width: calc(33.33% - 40px);
    float: left;
    margin: 20px;
}
/* BLOG */
.blog {
    background: #eaedf4;
     text-align: center;
    margin: 0 auto;
}
.blogWrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.cookingInfo {
    padding: 100px 10% 100px 0;
}
.recipesInfo {
    padding: 100px 0 100px 10%;
}
.recipesInfo a, .cookingInfo a {
    width: 150px;
    height: 50px;
    background: #fdc800;
    padding: 15px 0;
    margin: 0 auto;
}
.recipesImage, .recipesInfo{
    width: 50%;
    float: right;
}
.cookingInfo, .cookingImage {
    width: 50%;
    float: left;
}
.cookingInfo p, .recipesInfo p {
    width: 300px;
    padding: 30px 0;
    font-size: 1.8rem;
}
.cookingInfo {
    text-align: center;
}
.recipesInfo {
    text-align: center;
}
.cookingImage, .recipesImage {
    min-height: 464px;
    float: left;
}
.blog img {
    object-fit: contain;
    min-height: 464px;
}
.container1 {
    width: 300px;
    float: right;
}
.container2 {
    width: 300px;
    float: left;
}
/* BIO */ 
.bio {
    background :#f8f8f8;
    padding: 100px 0;
}
.bio h2 {
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
}
.bioInfo a {
    width: 175px;
    background-color: #fdc800;
    font-weight: bold;
    padding: 15px 0;
}
.bioImage, .bioInfo {
    float: left;
}
.bioInfo {
    max-width: 65%;
    margin-left: 5%;
}
.bioInfo p {
    padding: 30px 0;
}
/* FOOTER */
footer {
    background: #232323;
    color: #f8f8f8;
}
.footerContent {
    padding: 100px 0;
}
footer ul {
    list-style: none;
}
footer a {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-align: left;
    text-transform: lowercase;
}
.pages a {
    text-transform: uppercase;
}
.contact, .pages, .recentPosts {
    width: 180px;
    float: left;
    line-height: 1.6;
}
.stayUpdated {
    float: right;
}
.stayUpdated p {
    padding-bottom: 10px;
}
input[type="email"] {
    width: 480px;
    height: 50px;
    font-family: 'cabin';
    font-size: 1.8rem;
    color: #232323;
    padding-left: 30px;
    float: left;
}
 input#submit {
    background-color: #fdc800;
    width: 160px;
    height: 50px;
    color: #232323;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.copyright {
    text-align: center;
    background: #000;
    padding: 20px 0;
}
/* MEDIA QUERIES */
 @media (max-width: 1380px) {
    /* CHANGE COLOR OF SOCIAL FOR ACCESSIBILITY */
    .social {
        color: #232323;
    }
}
 @media (max-width: 1178px) {
    /* GLOBAL */
    .wrapper {
        max-width: 80%;
    }
    /* BIO */
    .bioImage, .bioInfo {
        float: none;
    }
    .bioImage img, .bioInfo a {
        margin: 0 auto 
    }
    .bioInfo {
        max-width: 100%;
        text-align: center;
        margin: 15px 0;
    }
    /* FOOTER */
    .footerContent p, .footerContent h4, .footerContent a {
        text-align: center;
    }
    .contact {
        clear: both;
    }
    .contact, .pages, .recentPosts {
        width: calc(33.33% - 40px);
        margin: 20px;
    }
    .stayUpdated {
         width: 100%;
    }
    .formContainer {
         width: 100%;
         margin: 0 auto;
    }
     input[type="email"] {
         width: 80%;
    }
     input#submit {
         width: 20%;
    }
}
/* LARGE MOBILE/SMALL TABLET MEDIA QUERY */
 @media (max-width: 817px) {
    /* GLOBAL */
     .wrapper {
        max-width: 90%;
    }
    /* HEADER */
    .social { 
        display: none;
    }
    /* BLOG */
    .cookingInfo, .recipesInfo {
        margin: 0;
        padding: 100px 0;
    }
    .container1, .container2 {
        margin: 0 auto;
        float: none;
    }
    .recipesImage, .recipesInfo{
        width: 100%;
        float: left;
    }
    .cookingInfo, .cookingImage {
        width: 100%;
        float: left;
    }
    /* FOOTER */
     .stayUpdated {
        width: 90%;
        margin: 0 auto;
        float: none;
    }
    input[type="email"] {
        text-align: center;
        padding-left: 0;
        margin-bottom: 10px;
    }
    input[type="email"], input#submit {
        width: 100%;
        float: none;
    }
}
@media (max-width: 700px) {
    /* HAMBURGER NAV STYLES - ADD OVERLAY GRADIEN WHEN CLICKED */
    input#toggle {
        display:none;
    }
    label[for="toggle"] {
        display: block;
        float: right;
        font-size: 5rem;
        color: #232323;
        width: 50px;
        height: 23px;
        cursor: pointer;
    }
    nav ul {
        display: none;
    }
    input#toggle:checked + ul {
        display: block;
    }
    nav {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    nav ul {
        float: none;
        padding-top: 100px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(219, 198, 6, 0.7)); 
        height: 100vh;
        }
    nav li {
        float: none;
    }
    nav li a {
        padding: 10px;
        border-radius: 10px;
        transition: 500ms ease-in;
        display: block;
    }
    /* ABOUT TASTY */
    section.aboutTasty p {
    width: 75%;
    }
    /* GALLERY */
    .gallery {
         padding: 0;
    }
    .gallery .wrapper {
        max-width: 100%;
    }
    .galleryItem .deleted {
        display: none;
    }
    .galleryItem {
        width: 50%;
        margin: auto;
        float: left;
    }
    /* BIO IMG SWAP TO MOBILE -- TOO BIG AT THIS SCREEN SIZE */
    .bio img.desktopImage {
        display: none;
    }
    .bio img.mobileImage {
        display: block;
    }
    /* FOOTER */
    .recentPosts {
        display: none;
    }
    .contact, .pages {
        width: calc(50% - 40px);
        margin: 20px;
    }
}
  @media (min-width: 350px) and (max-width: 700px) {
    
    .gallery img.mobileImage {
        width:100%;
    }

    /* BLOG */
    .cookingImage,
    .recipesImage {
        min-height: auto;
        width: 100%;
    }

    .blog img {
        min-height: auto;   
        width: 100%;
    } 
}

/* MOBILE MEDIA QUERY */
 @media (min-width: 320px) and (max-width: 450px) {
    
    /* SWAP DESKTOP FOR MOBILE IMG */
    .desktopImage {
        display:none;
    } 
    .mobileImage {
        display: block;
    }
    /* ABOUT TASTY */

    .aboutTasty p {
        width:95%;
    }
    /* TASTY ICONS */
    .tastyLinks {
        padding: 50px 0;
    }
    .recipes,
    .cookingTips, 
    .contactIcon {
        float: none;
        padding: 50px 0;
        margin: 0 auto;
    }

    /* BLOG */
    .cookingImage,
    .recipesImage {
        min-height: auto;
        width: 100%;
    }

    .blog img {
        min-height: auto;   
        width: 100%;
    }
    /* BIO */
    .bio p {
        text-align: left;
    }
    /* FOOTER */
    .contact {
        width: 100%;
        text-align: center;
        margin: 30px 0;
    }
    .contact li {
        text-align: center;
        width: 50%;
        float: left;
    }
    .contactInfo a,
    .address p {
        display: inline-block; 
        padding: 0 5px;
    }
    .pages {
        width: 100%;
        margin: 0; 
    }
    .pages li a {
        width: calc(25% - 5px);
        float: left;
        border-right: 1px solid white;
    }
    .pages ul li:last-of-type a {
        border: none;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    /* PUSHES TASTY HEADER FURTHER ALONG VIEWPORT TO MAKE ROOM FOR NAV ON CLICK */
    .title {
        top:60%;
    }

    /* HEADER STYLES */
    h1 span {
        font-size: 8rem;      
    }
}

 

    